[data-passenger="fade-down"] {
  transform: translateY(-100px);
}
[data-passenger="fade-up"] {
  transform: translateY(100px);
}
[data-passenger="fade-left"] {
  transform: translateX(-100px);
}
[data-passenger="fade-right"] {
  transform: translateX(100px);
}
[data-passenger="fade-right"].animate {
  transform: translateX(0px);
}
[data-passenger="fade-left"].animate {
  transform: translateX(0px);
}
[data-passenger="fade-up"].animate {
  transform: translateY(0px);
}
[data-passenger="fade-down"].animate {
  transform: translateY(0px);
}
[data-passenger^="fade"] {
  transition: all 2s;
  opacity: 0;
}
.animate {
  opacity: 1;
}
